<div class="shadow" fxLayoutAlign="center center">
    <div class="box">
      <form [formGroup]="createnoteForm" (ngSubmit)="onSubmit()">
        <div class ="title-class">
          
          <input type="text" #txt class="input"  formControlName="title" placeholder="Title">
          <img class="img" src="../../../assets/pin.png">
        </div>
        <div class="desc-class">
          <input type="text" #txt class="input" formControlName="description" placeholder="Take a note...">
        </div>
        <div class="icon-container" fxLayout="row" fxLayoutAlign="space-between center">
          <div class="sub-icon-container" fxLayout="row">
            <app-note-icon ></app-note-icon>
          </div>
          <div >
            <button mat-button class="closebutton">Close</button>
          </div>
        </div>
      </form>
    </div>
  </div>