<div class="main" fxFlex="100" fxFlex.xs=100 fxLayout='column' fxLayoutAlign='center center' fxLayout.xs="100" fxLayout.xs="column">
    <div class="row-main" fxLayout="row" fxLayoutAlign="center center" fxFlex="100">
        <form [formGroup]="registerForm" fxFlex="95" (ngSubmit)="onSubmit()">
            <div class="column-main" fxLayout="column" fxLayoutAlign="center">
                <div class="head">
                    <h1>
                        <span style="color: blue;">F</span>
                        <span style="color: red;">u</span>
                        <span style="color: yellow;">n</span>
                        <span style="color: green;">d</span>
                        <span style="color: red;">o</span>
                        <span style="color: blue;">o</span>
                    </h1>
                    <h1>Create your FundooNote Account</h1>
                </div>
                <div class="name" fxLayoutGap="20px" fxLayout="row" fxLayout.xs="column">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>First Name</mat-label>
                        <input matInput formControlName="firstName" placeholder="">
                        <mat-error>add valid first name</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Last Name</mat-label>
                        <input matInput formControlName="lastName" placeholder="">
                        <mat-error>add valid last name</mat-error>
                    </mat-form-field>
                </div>
                <div class="email-class"fxLayout="column" fxLayoutAlign="centre">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="">
                        <mat-error>add valid email</mat-error>
                        <mat-hint style="font-size: 15px;">You can use letters,numbers & periods</mat-hint>
                        
                    </mat-form-field>
                    <a style="color:#1a73e8;font-weight: 500;margin-top:7px;">  Use my current email address instead</a>
                </div>
                <div fxLayoutGap="20px" fxLayout="row"fxLayout.xs="column">
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Password</mat-label>
                        <input  formControlName="password" type="password" matInput placeholder="">
                        <mat-error>add valid passward</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="100">
                        <mat-label>Confirm</mat-label>
                        <input formControlName="confirmPassword" type="password" matInput placeholder="">
                        <mat-error>add valid confirm passward</mat-error>
                    </mat-form-field>
                </div>
                <div style="font-size: small; margin-top:-10px">
                    <mat-hint style="font: size 50px;">Use 8 or more characters with a mix of letters numbers & symbols
                    </mat-hint>
                </div>
                <div class="checkbox-show-password" style="padding-top: 23px;">
                    <mat-checkbox>Show Password</mat-checkbox>
                </div>
                <div class="submit-button" style="padding-top: 40px;">
                    <button mat-stroked-button style=" font-weight: bold; border: none;color:#1a73e8;" routerLink="/login">Sign in instead</button>
                    <button mat-raised-button style="background-color: #1a73e8;height:33px;width:80px;border-radius: 3px;font-size: 15px; text-align: center;color: white ;border: none; float: right;">Next</button>
                </div>
            </div>
        </form>
        <div fxLayout="column" fxLayoutAlign="center center" style=" margin-left: 15px;height: 400px;margin-top: 20px;" fxHide.xs>
            <img src="../../../assets/account.svg" width="240" height="240">
            <p style="font-size: 15px;font-weight: 300;text-align: center;box-sizing: inherit;">One Account.All
                FundooNote working for you</p>
        </div>
    </div>
</div>
