.main{
    padding: 60px;border:1px solid #d5d1d1;margin: 10px 30%;border: radius 2px;display:block;border-radius: 10px;margin-top:100px;
}
.row-main{
    margin-bottom: 16px; padding-bottom:-10px;
}
.head{
    text-align: center;
}
.email-class{
    display: flex;width: 350px;
}
.button-class{
    background-color: #1a73e8;height:33px;width:80px;border-radius: 3px;font-size: 15px; text-align: center;color: white ;border: none; float: right;
}