<div class="main"  fxFlex=100 fxFlex.xs="100" fxLayout='column' fxLayoutAlign='center center' fxLayout.xs="100" fxLayout.xs="column"
    style="padding: 60px;border:1px solid #d5d1d1;margin: 10px 30%;border: radius 2px;display:block;border-radius: 10px;margin-top:100px;">
    <div style="margin-bottom: 16px; padding-bottom:-10px;" fxFlex="100" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center">
            <form [formGroup]="forgotpasswordForm" fxFlex="95" (ngSubmit)="onSubmit()">
                <div style="text-align: center;">
                    <h1>
                        <span style="color: blue;">F</span>
                        <span style="color: red;">u</span>
                        <span style="color: yellow;">n</span>
                        <span style="color: green;">d</span>
                        <span style="color: red;">o</span>
                        <span style="color: blue;">o</span>
                    </h1>
                    <h1>Forgot Password</h1>
                    <h3>Enter your email to recover password</h3>
                </div>
                <div fxLayout="column" fxLayoutAlign="centre"style=" display: flex;
                width: 350px;">
                    <mat-form-field appearance="outline" fxFlex="100">
                         <mat-label>Email</mat-label>
                        <input matInput formControlName="email" placeholder="">
                        <mat-error>Valid email required</mat-error>
                    </mat-form-field>
                </div>
                <div class="button">
                    <button mat-flat-button style="background-color: #1a73e8;height:33px;width:80px;border-radius: 3px;font-size: 15px; text-align: center;color: white ;border: none; float: right;">Next</button>
                </div>
            </form>
        </div>
    </div>
</div>
