<div class="head" style="text-align: center;">
    <h1>
        <span style="color: blue;">F</span>
        <span style="color: red;">u</span>
        <span style="color: yellow;">n</span>
        <span style="color: green;">d</span>
        <span style="color: red;">o</span>
        <span style="color: blue;">o</span>
    </h1>
    <h1>Login</h1>
    <h2>Use Your FundooNote Account</h2>
</div>

<div style="text-align: center;">
    <mat-form-field appearance="outline">
        <mat-label>Email or Phone</mat-label>
        <input matInput placeholder="">
    </mat-form-field>
</div>
<div style="text-align: center;">
    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" placeholder="">
    </mat-form-field>
    <a style="margin-top: -10px; color: blue;padding-top: 5px;font-size: medium;">Forget Pssword?</a>
</div>

<div style="text-align: center;">
    <mat-hint>Not your computer? Use Guest mode to sign in privately.</mat-hint>
</div>
<div>
    <mat-hint style="color: blue;font-size: medium;">Learn more</mat-hint>
</div>
<div style="text-align: center;">
    <button mat-stroked-button color="primary" style="border: none;font-size: medium;text-align: center;">Create
        Account</button>
    <button mat-raised-button
        style="background-color: rgb(54, 148, 224); text-align: center;color: white ;border: none;text-align: center;">Next</button>
</div>