<div class="main" fxFlex=100 fxFlex.xs="100" fxLayout='column' fxLayoutAlign='center center' fxLayout.xs="100" fxLayout.xs="column">
    <div class="row-main" fxFlex="100" fxLayoutAlign="center center">
        <div fxLayout="column" fxLayoutAlign="center">
            <form [formGroup]="loginForm" fxFlex="95" (ngSubmit)="onSubmit()">
                <div class="head">
                    <h1>
                        <span style="color: blue;">F</span>
                        <span style="color: red;">u</span>
                        <span style="color: yellow;">n</span>
                        <span style="color: green;">d</span>
                        <span style="color: red;">o</span>
                        <span style="color: blue;">o</span>

                    </h1>
                    <h1>Login</h1>
                    <h2>Use Your FundooNote Account</h2>
                </div>
                <div class="email-class" fxLayout="column" fxLayoutAlign="centre">
                    <mat-form-field appearance="outline" fxFlex="500">
                        <mat-label>Email or Phone</mat-label>
                        <input matInput formControlName="email" placeholder="">
                        <mat-error>Please enter email</mat-error>
                    </mat-form-field>
                </div>
                <div class="pass-class" fxLayout="column" fxLayoutAlign="centre" >
                    <mat-form-field appearance="outline" fxFlex="500">
                        <mat-label>Password</mat-label>
                        <input matInput type="password" formControlName="password" placeholder="">
                        <mat-error>Please enter passward</mat-error>
                       
                    </mat-form-field>
                    <a class="a-class"routerLink="/forget-pass">Forget Password?</a>
                </div>
                <div class="line1" fxLayput="column">
                    <mat-hint class="hint-class1">Not your computer? Use Guest mode to sign in privately.</mat-hint>
                </div>
                <div>
                    <mat-hint  class="hint-class2" >Learn more</mat-hint>
                </div>
                <div class="button-layout" fxLayout="row">
                    <button class="btn-acc" mat-stroked-button routerLink="/registration">Create Account</button>
                    <button class="btn-next" mat-flat-button >Next</button>
                </div>
            </form>
        </div>
    </div>
</div>>