<div fxLayout="row" fxLayourAlign="center" >
    <div>
        <img *ngIf="!isTrash" src="../../../assets/ghnti.png">
        <img *ngIf="!isTrash" src="../../../assets/collab.png">
        <img *ngIf="!isTrash" mat-button src="../../../assets/color.png">

  

        <img *ngIf="!isTrash" src="../../../assets/imgs.png">

        <img  *ngIf="!isArchive && !isTrash" (click)="onArchiev()" src="../../../assets/Archieve.png" >
        <img *ngIf="isArchive && !isTrash" src="../../../assets/Unarchieve.png" (click)="UnArchievenote()">

    


    </div>

    <div>
        <img  *ngIf="!isTrash" [matMenuTriggerFor]="menu" src="../../../assets/more.png">
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onTrash()">Delete Note</button>
            <button mat-menu-item>Add Label</button>
            <button mat-menu-item>Add drawing</button>
            <button mat-menu-item>Make a copy</button>

        </mat-menu>

    </div>
    <div *ngIf="isTrash" fxLayout="row" fxLayourAlign="center">
        <div  matTooltip="Delete forever">
            <img class="icons" src="../../../assets/Delete.png">
        </div>

        <div class="buttons"  matTooltip="Restore">
            <img class="icons" src="../../../assets/Restore.png" (click)="Restore()">
        </div>

    </div>
   

</div>