img{
    width: 15px;padding-right: 6px;
}
.rangila{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: white;
    max-width: 168px;
    margin-left: 5px;
    text-decoration:center;
   
  }